<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
           
            <%= render 'form', item: @item %>
            <%# <%= link_to 'Back', employees_path %> 

        </div>
    </body>
</html>
